@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    box-sizing:border-box;
    font-family: "nunito";
    transition: 250ms;
}

html{
    min-width: 1000px;
    min-height: 500px;
}

:root{
    --white-75-o: rgba(255, 255, 255, 0.75);
}

body{
    background-color: Thistle;
    height: 100%;
}

header{
    min-height: 200px;
    background-image: linear-gradient(Violet,MediumOrchid);
}
#site-name{
    min-height: 100px;
    height: 50%;
    color: white;
    text-align: center;
    line-height: 100px;
}

#quick-select{
    min-height: 100px;
}

#quick-select a{
    font-weight: 700;
    font-size: 17px;
    padding: 0px 10px 0px 10px;
    margin-top: 20px;
    margin: 20px 10px 0px 10px;
    float: left;
    text-align: center;
    text-decoration: none;
    color: var(--white-75-o);
    line-height: 60px;
    min-width: 100px;
    min-height: 60px;
    border: 5px solid var(--white-75-o);
    border-radius: 20px;
}

#quick-select a:hover{
    background-color: rgba(255, 255, 255, 0.25);
    border-color: white;
    color: white;
    letter-spacing: 1px;
}

#content{
    padding: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 600px;
    max-width: 600px;
    min-height: calc(100vh - 200px);
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 auto;
}

#content a{
    font-weight: 700;
    text-decoration: none;
    color: magenta;
}

#content a:hover{
    text-decoration: none;
    color: mediumorchid;
}

.text-center{
    text-align: center;
}

.button-link{
    padding: 15px;
    background-color: magenta;
    border: 5px solid #e000e0;
    border-radius: 20px;
    color: whitesmoke !important;
    text-transform: uppercase;
}

.button-link:hover{
    background-color: #ff55ff;
    border-color: #ff22ff;
    color: white;
    letter-spacing: 1px;
}
